.navigation-button {
  border: 0.25rem solid var(--primary-brown);
  background-color: var(--primary-brown);
  border-radius: 2rem;
  color: var(--primary-white);
  padding: 0.5rem 2rem;
}

.navigation-button:hover {
  border: 0.25rem solid var(--primary-brown);
  color: var(--primary-brown);
  background-color: transparent;
  cursor: pointer;
}
