.card-container {
  background-color: var(--primary-white);
  height: 75%;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Icon */
.my-card-icon {
  font-size: 3rem;
  color: var(--primary-brown);
}

/* Überschrift */
.my-card-title {
  color: var(--primary-brown);
  margin: 0;
}

/* Divider */
.my-card-divider {
  width: 20%;
  border: none;
  border-bottom: 1px solid var(--primary-brown);
}

/* Text */
.my-card-text {
  color: var(--primary-brown);
  line-height: 1.6;
}
